.side-screen-cnt {
    // width: 70%;
    height: 100vh;
    padding: 3rem 10rem;
    background-color: #100E1D;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .units-cnt {
        // border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .c-cnt {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #E7E7EB;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
        }

        .f-cnt {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #585676;
            margin-left: 1rem;
            font-weight: 600;
            color: #E7E7EB;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .forecast-cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-top: 3rem;
        height: 100%;

        .forecast {
            width: 165px;
            height: 177px;
            background-color: #1E213A;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // &.forecast:nth-child(even) {
            //     margin: 0 2rem;
            // }

            .time {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                align-items: center;
                color: #E7E7EB;
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .temperature {
                display: flex;
                justify-content: center;

                .temp-max {
                    margin-right: 1rem;
                    color: #E7E7EB;
                }

                .temp-min {
                    color: #A09FB1;
                }
            }
        }
    }

    .highlight-cnt {
        // margin-top: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .highlight-header {
            h1 {
                color: #E7E7EB;
                margin-bottom: 3rem;
            }
        }

        .highlight-content {
            .first-row {
                display: flex;
                justify-content: space-between;

                .highlight {
                    width: 480px;
                    height: 204px;
                    background-color: #1E213A;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border-radius: 12px;

                    .headline {
                        p {
                            margin: 0;
                            font-size: 18px;
                        }

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #E7E7EB;
                    }

                    .highlight-information {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        color: #E7E7EB;
                        // height: 75px;


                        .data {
                            margin: 0rem 0rem 0rem 0rem;
                            font-size: 64px;
                            font-weight: bold;
                        }

                        .unit {
                            font-size: 1.5rem;
                        }
                    }

                    .progress-bar-dummy {
                        width: 296px;
                        height: 28px;
                        // border: 1px solid white;
                    }

                    .progress-bar {
                        .legend {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            color: #A09FB1;
                            font-weight: 700;
                            margin-bottom: 0.25rem;
                            font-size: 12px;
                        }

                        .mat-success {
                            background-color: #E7E7EB;
                        }
                    }
                }
            }

            .second-row {
                display: flex;
                justify-content: space-between;
                margin-top: 3rem;

                .highlight {
                    width: 480px;
                    height: 204px;
                    background-color: #1E213A;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border-radius: 12px;

                    .headline {
                        p {
                            margin: 0;
                            font-size: 18px;
                        }

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #E7E7EB;
                    }

                    .highlight-information {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        color: #E7E7EB;
                        // height: 75px;

                        .data {
                            margin: 0rem 0rem 0rem 0rem;
                            font-size: 64px;
                            font-weight: bold;
                        }

                        .unit {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

        }
    }
}


// === 2560 PX ===
@media (min-width: 2560px) {
    .side-screen-cnt {
        padding: 5rem 10rem;

        .units-cnt {
            .c-cnt {
                width: 70px;
                height: 70px;
                font-size: 1.5rem;
            }

            .f-cnt {
                width: 70px;
                height: 70px;
                font-size: 1.5rem;
            }
        }

        .forecast-cnt {
            .forecast {
                width: 230px;
                height: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .time {
                    font-size: 1.5rem;
                }

                .temperature {
                    font-size: 1.5rem;

                    .temp-max {
                        margin-right: 2.5rem;
                    }
                }
            }
        }

        .highlight-header {
            h1 {
                font-size: 2.5rem;
            }
        }

        .highlight-content {
            .first-row {
                .highlight {
                    width: 580px !important;
                    height: 300px !important;

                    .headline {
                        p {
                            font-size: 1.5rem !important;
                        }
                    }

                    .highlight-information {
                        .data {
                            font-size: 5rem !important;
                        }
                    }
                }
            }

            .second-row {
                .highlight {
                    width: 580px !important;
                    height: 300px !important;

                    .headline {
                        p {
                            font-size: 1.5rem !important;
                        }
                    }

                    .highlight-information {
                        .data {
                            font-size: 5rem !important;
                        }
                    }
                }
            }
        }
    }
}


// === 1670 PX ===
@media (max-width: 1670px) {
    .side-screen-cnt {
        .forecast-cnt {
            .forecast {
                width: 130px !important;
            }
        }

        .highlight-content {
            .first-row {
                .highlight {
                    width: 380px !important;
                }
            }

            .second-row {
                .highlight {
                    width: 380px !important;
                }
            }
        }
    }
}


// === 1570 PX ===
@media (max-width: 1570px) {
    .side-screen-cnt {
        padding: 3rem 8rem;
    }
}


// === 1480 PX ===
@media (max-width: 1480px) {
    .side-screen-cnt {
        padding: 3rem 6rem;
    }
}


// === 1400 PX ===
@media (max-width: 1400px) {
    .side-screen-cnt {
        padding: 3rem 4rem;
    }
}


// === 1300 PX ===
@media (max-width: 1300px) {
    .side-screen-cnt {
        padding: 3rem 3rem;
    }
}

// === 1250 PX ===
@media (max-width: 1250px) {
    .side-screen-cnt {
        .forecast-cnt {
            .forecast {
                width: 120px !important;
            }
        }

        .highlight-cnt {
            .highlight-content {
                .first-row {
                    .highlight {
                        width: 330px !important;
                    }
                }

                .second-row {
                    .highlight {
                        width: 330px !important;
                    }
                }
            }
        }
    }
}


// === 1110 PX ===
@media (max-width: 1110px) {
    .side-screen-cnt {
        .forecast-cnt {
            .forecast {
                width: 105px !important;
            }
        }

        .highlight-cnt {
            .highlight-content {
                .first-row {
                    .highlight {
                        width: 300px !important;
                    }
                }

                .second-row {
                    .highlight {
                        width: 300px !important;
                    }
                }
            }
        }
    }
}


// === 1020 PX ===
@media (max-width: 1020px) {
    .side-screen-cnt {
        .highlight-cnt {
            .highlight-content {
                .first-row {
                    .highlight {
                        width: 270px !important;
                    }
                }

                .second-row {
                    .highlight {
                        width: 270px !important;
                    }
                }
            }
        }
    }
}

// === 940 PX ===
@media (max-width: 940px) {
    .side-screen-cnt {
        height: unset;

        .units-cnt {
            margin-bottom: 2rem;
        }

        .forecast-cnt {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 2rem;
            column-gap: 2rem;
        }

        .highlight-cnt {
            .highlight-header {
                h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3rem;
                }
            }

            .highlight-content {
                .first-row {
                    justify-content: center;
                    flex-wrap: wrap;
                    column-gap: 2rem;
                    row-gap: 2rem;
                }

                .second-row {
                    justify-content: center;
                    flex-wrap: wrap;
                    column-gap: 2rem;
                    row-gap: 2rem;
                    margin-top: 2rem;
                }
            }
        }
    }
}


// === 768 PX ===
@media (max-width: 768px) {
    // .side-screen-cnt {
    //     height: unset;

    //     .units-cnt {
    //         margin-bottom: 2rem;
    //     }

    //     .forecast-cnt {
    //         display: flex;
    //         justify-content: center;
    //         flex-wrap: wrap;
    //         row-gap: 2rem;
    //         column-gap: 2rem;
    //     }
    // }
}













// === 1440 PX ===

// @media (max-width: 1440px) {
//     .side-screen-cnt {
//         .forecast-cnt {
//             .forecast {
//                 width: 115px !important;
//                 height: 155px !important;

//                 .icon {
//                     img {
//                         width: 80px !important;
//                     }
//                 }
//             }
//         }
//     }

//     .highlight-cnt {
//         .highlight-header {
//             h1 {
//                 margin-bottom: 1rem !important;
//             }
//         }

//         .highlight-content {
//             .first-row {
//                 .highlight {
//                     width: 290px !important;
//                     height: 165px !important;

//                     .data {
//                         font-size: 45px !important;
//                     }
//                 }
//             }

//             .second-row {
//                 .highlight {
//                     width: 290px !important;
//                     height: 165px !important;

//                     .data {
//                         font-size: 45px !important;
//                     }
//                 }
//             }
//         }
//     }
// }