.side-screen-cnt {
    // width: 70%;
    background-color: #0f0d1c;
    height: 100vh;
    padding: 2rem;

    .temp-unit-cnt {
        // border: 1px solid white;
        display: flex;
        justify-content: flex-end;

        .circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #585676;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;

            &:first-child {
                margin-right: 1rem;
            }
        }
    }

    .forecast-cnt {
        display: flex;
        justify-content: space-between;

        .forecast {
            width: 120px;
            height: 177px;
            background-color: #1E213A;
            margin-top: 2rem;
        }
    }
}