<div class="side-screen-cnt">
    <div class="units-cnt">
        <div (click)="changeUnitToC()" [ngStyle]="{ 'background-color': this.weatherData.unitC ? '#E7E7EB' : '', 'color': this.weatherData.unitC ? 'black' : '' }" class="c-cnt">°C</div>
        <div (click)="changeUnitToF()" [ngStyle]="{ 'background-color': this.weatherData.unitF ? '#E7E7EB' : '', 'color': this.weatherData.unitF ? 'black' : '' }" class="f-cnt">°F</div>
    </div>

    <div class="forecast-cnt">
        <div class="forecast" *ngFor="let item of weatherData.weatherForecast?.list | slice:0:5">
            <div class="time">
                {{ item.dt_txt | date:"HH:mm" }} Uhr
            </div>
            <div class="icon">
                <img src="https://openweathermap.org/img/wn/{{ item.weather[0].icon }}@2x.png" alt="">
            </div>
            <div class="temperature">
                <p class="temp-max">{{ item.main.temp_max | number:'1.0-0' }} {{ weatherData.temperatureSymbol }}</p>
                <p class="temp-min">{{ item.main.temp_min | number:'1.0-0' }} {{ weatherData.temperatureSymbol }}</p>
            </div>
        </div>
    </div>

    <div class="highlight-cnt">
        <div class="highlight-header">
            <h1>Today's Hightlights</h1>
        </div>

        <div class="highlight-content">
            <div class="first-row">

                <div class="highlight">
                    <div class="headline">
                        <p>Wind Speed</p>
                    </div>
                    <div class="highlight-information">
                        <p class="data">{{ weatherData.myWeather?.wind.speed | number:'1.0-0' }}</p><span class="unit">{{ weatherData.speedSymbol }}</span>
                    </div>
                    <!-- <div class="progress-bar-dummy"></div> -->
                </div>

                <div class="highlight">
                    <div class="headline">
                        <p>Humidity</p>
                    </div>
                    <div class="highlight-information">
                        <p class="data">{{ weatherData.myWeather?.main.humidity }}</p><span class="unit">%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="legend">
                            <span>0</span>
                            <span>50</span>
                            <span>100</span>
                        </div>
                        <mat-progress-bar color="success" mode="determinate" value="{{ weatherData.myWeather?.main.humidity }}"></mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="second-row">
                <div class="highlight">
                    <div class="headline">
                        <p>Feels Like</p>
                    </div>
                    <div class="highlight-information">
                        <p class="data">{{ weatherData.myWeather?.main.feels_like | number:'1.0-0'}}</p><span class="unit">{{ weatherData.temperatureSymbol }}</span>
                         
                    </div>
                </div>
                <div class="highlight">
                    <div class="headline">
                        <p>Air Pressure</p>
                    </div>
                    <div class="highlight-information">
                        <p class="data">{{ weatherData.myWeather?.main.pressure }}</p><span class="unit">hPa</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>