<div class="search-screen-cnt">

    <div class="close-btn-cnt">
        <img routerLink="" src="../../../assets/icons/close-icon.png" alt="">
    </div>

    <div class="input-cnt">
        <input [(ngModel)]="city.cityName" type="search" placeholder="Search Location">
        <button (click)="addCityToDb()" type="submit">Search</button>
    </div>

    <div class="search-history-cnt">
        <div class="ng-cnt" *ngFor="let city of weatherData.cityCollection">
            <div class="history-city" (click)="changeCity(city.cityName)">
                <p>{{ city.cityName }}</p>
            </div>
        </div>
    </div>
    
</div>